{:source-paths ["src" "src-cljs"]

 :builds
 {:app
  {:target :browser
   :output-dir "resources/public/js"
   :asset-path "/js"
   :modules {:application-form {:init-fn triapply-portal.client.application-form/init}}}}}
